@import "variables";
@import "mixins";

@bgcol: lighten(black, 70%);

a:hover { text-decoration: none; }

html {
	min-height: 100%;
}

body {
	min-height: 100%;
	background-color: lighten(@grayLighter, 5%);
    background-image: url(/assets/img/bg_clean_textile.png);
	//#gradient > .vertical(lighten(@grayLighter, 3%), @grayLighter);
}


li {
	margin-bottom: 5px;
}

a {
	.transition(background .2s linear);
	.transition(color .2s linear);
	h3 {
		a {
			.transition(color 0s linear);
		}
	}
}

.influad {
    margin-top: 30px;
    width: 130px;
    margin-bottom: 30px;
}

.influads_link_img {
    display: block;
    margin-bottom: 5px;
}

.influads_text {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: #666;
    a {
        color: #666;
    }
}

.influads_powered_link {
    font-size: 10px;
    font-weight: 300;
    width: 130px;
}

.coffee {
	color: #aaa;
	font-size: 38px;
	line-height: @baseLineHeight * 1.5;
	text-align: center;
}

.shadowed {
	.box-shadow(0 1px 8px rgba(0,0,0,.25));
}

.back {
	display: block;
	margin-top: 40px;
}

.icon-envelope, .icon-twitter-sign {
    color: @electricescape;
    font-size: 18px;
}

.header {
	// margin: 0 auto 30px auto;
	text-align: left;
	// background: @grayLighter;
	// border-bottom: 1px solid lighten(@electricescape, 30%);
    // padding-bottom: 5px;

	/* sticky header * /
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
    /**/
    margin-top: 40px;
    margin-bottom: 45px;


	h1 {
		a {
			color: @electricescape;
			font-family: @baseFontFamily;
			font-weight: 800;
			font-size: 30px;
			text-transform: uppercase;
		    line-height: @baseLineHeight * 2;
			&:hover {
				text-decoration: none;
				color: @electricescape;
			}
		}
	}
	.subtitle {
		font-family: @baseFontFamily;
		font-size: 12px;
		font-weight: 300;
		// color: lighten(@electricescape, 15%);
		margin: 0;
		line-height: 14px;

	}
}

.coffeecup {
    position: relative;
    width: 160px;
    height: 160px;
    line-height: 110px;
    .border-radius(80px);
    background: @electricescape;
    color: white;
    text-align: center;
    font-size: 170px;
    span {
        position: absolute;
        top: 10px;
        left: 31px;
    }
}

.vertical-nav {
    margin: 30px 0 0 0;
    li {
        list-style-type: none;
        margin: 0;
        a {
            font-weight: 300;
            font-size: 12px;
            line-height: 20px;
        }


    }
}


article {
	background-color: transparent;
	margin-bottom: 30px;
	// border-bottom: 1px solid darken(@gray, 10%);
	// border-radius: 3px;
	// .box-shadow(1px 1px 5px rgba(0,0,0,.5));
	h1 {
		// text-align: center;
		// text-shadow: 0 -1px 2px lighten(black, 20%);
        font-family: @baseFontFamily;
        font-size: 21px;
        font-weight: 300;
        line-height: 40px;
        color: @electricescape;
		a {
			display: block;
			position: relative;
			font-family: @baseFontFamily;
			font-size: 21px;
			font-weight: 300;
			line-height: 33px;
			color: @electricescape;
			text-transform: uppercase;
			&:hover {
				text-decoration: none;
				color: darken(@electricescape, 15%);
			}
		}
	}
	.morelink {
		&:hover {
			color: darken(@electricescape, 15%);
		}
	}
}

.blog {
    .linkpost {
        h1 {
            margin-bottom: 10px;
        }
        .morelink {
            font-size: 26px;
            //display: block;
            //text-align: center;
            a {
                width: 15px;
                height: 15px;
            }
        }
    }
}

.blogarticle {
	h1 {
		color: @electricescape;
		padding: 0px 0 20px 0;
		font-family: "Lato";
		text-transform: uppercase;
		font-weight: 300;
		font-size: 26px;
		line-height: 40px;
	}
	h3 {
			margin: 20px 0 10px 0;
		a {
			padding: 2px 5px 3px 5px;
			background: @electricescape;
			color: white;
		}
		a:hover {
			background: transparent;
			color: @electricescape;
		}
	}
}

.linkpost {
    .blogarticle {
        h1 {
            padding-bottom: 0;
            margin-bottom: 10px;
        }
    }
}

footer {
	margin: 20px;
	border-top: 1px solid lighten(@gray, 40%);
	padding-top: 10px;
	color: lighten(@gray, 30%);
	p {
		font-size: 12px;
	}
	a {
		color: lighten(@gray, 30%);
		&:hover {
			color: lighten(@gray, 10%);
		}
	}
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.date_article {
    font-size: 11px;
    line-height: 12px;
    display: none;
    a {
        -webkit-transition: all 0.3s ease-out;
           -moz-transition: all 0.3s ease-out;
             -o-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
        color: lighten(@gray, 40%);
        &:hover {
            color: @gray;
        }
    }
}

// Hidden daily date
.dailydate {
    text-transform: uppercase;
    color: lighten( #666, 40% );
    font-size: 11px;
    display: block;
    padding: 20px 0 40px 0;
    letter-spacing: 0.3em;
}

// Pagination
.pagination {
    margin-bottom: 0;
    a {
        border: 0;
        padding: 0;
        &:hover {
            background: transparent;
        }
        &.prev-padding-left {
            padding-left: 20px;
        }
    }
}


// Sticky sidebar content
.sticky {
  position: fixed;
  top: 30px;
}

.content-margin-left {
    margin-left: 230px !important;
}

~@media only screen and (-moz-min-device-pixel-ratio: 1.5), only
screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-
webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-
pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    body {
        background-image: url(/assets/img/clean_textile_@2X.png);
    }
}