[class^="icon-"] {
  line-height: 1em;
  width: 30%;
  display: inline-block;
  text-align: center;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-size: 2.3em;
  line-height: 1em;
}

.sidebar-icons {
  padding-top: .5rem;
  margin-bottom: 1.5rem;
}

.sidebar-icons a {
  color: rgba(255,255,255,.5);
}

.sidebar-icons a:hover {
  color: rgba(255,255,255,1);
  text-decoration: none;
}


#tlemail {
  width: 15rem;
  line-height: 1.5rem;
  font-size: 1rem;
}

input[type="submit"] {
  font-size: .9rem;
  background: none;
  border: 1px solid #515151;
  color: #515151;
  font-family: inherit;
  cursor: pointer;
  margin-bottom: 1rem;
}

.tl-credit {
  font-size: .65rem;
}


.menu {
  transition: opacity 0.2s linear;
  opacity: 0;
  padding: .5rem 0 0 0;
}

.menu ul {
  padding: 0;
  overflow: hidden; /* clearfix */
}

.menu ul li {
  float: left;
  padding: 0 1rem 0 0;
  list-style-type: none;
  line-height: 1rem;
}

.menu ul li.active a {
  color: #c0c0c0;
}

.menu ul li a {
  font-size: .7rem;
  color: #c0c0c0;
}

.footer { margin-top: 1rem; }

.masthead:hover .menu {
  opacity: 1;
}

.masthead-title small a {
  color: #c0c0c0;
}
