[class^="icon-"] {
  line-height: 1em;
  width: 30%;
  display: inline-block;
  text-align: center;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-size: 2.3em;
  line-height: 1em;
}

.sidebar-icons {
  padding-top: .5rem;
  margin-bottom: 1.5rem;
}

.sidebar-icons a {
  color: rgba(255,255,255,.5);
}

.sidebar-icons a:hover {
  color: rgba(255,255,255,1);
  text-decoration: none;
}


#tlemail {
  width: 15rem;
  line-height: 1.5rem;
  font-size: 1rem;
}

input[type="submit"] {
  font-size: .9rem;
  background: none;
  border: 1px solid #515151;
  color: #515151;
  font-family: inherit;
  cursor: pointer;
  margin-bottom: 1rem;
}

.tl-credit {
  font-size: .65rem;
}
