body {
  background-color: #dcdcdc;
}

a {
  color: #d40000;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: normal;
  text-transform: uppercase;
}

blockquote {
  border-left: .25rem solid #C7C7C7;
}

[class^="icon-"] {
  line-height: 1em;
  width: 30%;
  display: inline-block;
  text-align: center;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-size: 2.3em;
  line-height: 1em;
}

.sidebar-icons {
  padding-top: .5rem;
  margin-bottom: 1.5rem;
}

.sidebar-icons a {
  color: rgba(255,255,255,.5);
}

.sidebar-icons a:hover {
  color: rgba(255,255,255,1);
  text-decoration: none;
}


#tlemail {
  width: 15rem;
  line-height: 1.5rem;
  font-size: 1rem;
}

input[type="submit"] {
  font-size: .9rem;
  background: none;
  border: 1px solid #515151;
  color: #515151;
  font-family: inherit;
  cursor: pointer;
  margin-bottom: 1rem;
}

.tl-credit {
  font-size: .65rem;
}


.menu {
  transition: opacity 0.2s linear;
  padding: .5rem 0 0 0;
}

.menu ul {
  padding: 0;
  overflow: hidden; /* clearfix */
}

.menu ul li {
  float: left;
  padding: 0 1rem 0 0;
  list-style-type: none;
  line-height: 1rem;
}

.menu ul li.active a {
  color: #c0c0c0;
}

.menu ul li a {
  font-size: 1rem;
  color: #c0c0c0;
}

.footer { margin-top: 1rem; }

.masthead {
  padding: .4rem 1rem;
  margin-bottom: 4rem;
  background-color: #e7e7e7;
  padding-left: 1rem;
  border-bottom: 1px solid #ccc;
}

.masthead:hover .menu {
  opacity: 1;
}

.masthead-title {
  /*text-align: center;*/
  text-transform: none;
  font-size: 1.5rem;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 900;
}
.masthead-title a {
  color: #afafaf;
}
.masthead-title small a {
  color: #c0c0c0;
}

.post {
  margin-bottom: 5rem;
}

.post-title {
  font-weight: normal;
  text-transform: uppercase;
}
.linkpost .post-title {
  font-size: 1.2rem;
}

.pagination {
  font-family: Helvetica, Arial, sans-serif;
}
.pagination-item {
  border: none;
}
a.pagination-item:hover {
  background-color: transparent;
}

.stripe {
  font-weight: bold;
}
.red {
  color: #ea0000;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
